# Arrays

Arrays are usually used to represent sequences.  

*From the book "Programming in Python 3, A Complete Introduction to the Python Language", Mark Summerfield*. (Examples are changed to suit my interests).  

**Sequence Types**. A sequence type is one that supports the membership operator (*in*), the size function (*len()*), slice (*[]*), and is *iterable*. Python provides 5 built-in sequence types.
1. **bytearray**
2. **bytes**
3. **list**
4. **str**
5. **tuple**
6. some other sequence types are provided in the standard library, most notably **collections.namedtuple()**

## Tuples

A tuple is an ordered sequence of zero or more object references. Like strings, tuples are **immutable**, so we cannot replace or delete any of their items.

In [1]:
names = "Jack", "Ann", "Jane"
print(type(names))
print(names)

<class 'tuple'>
('Jack', 'Ann', 'Jane')

In [5]:
tuple(["Ann", "Harry"])

('Ann', 'Harry')

In [10]:
("Rob", "Bob", "Andrew")[:1] + "Ann" + ("Rob", "Bob", "Andrew")[2]

TypeError: can only concatenate tuple (not "str") to tuple

In [11]:
("Rob", "Bob", "Andrew")[:1], "Ann", ("Rob", "Bob", "Andrew")[2]

(('Rob',), 'Ann', 'Andrew')

In [14]:
("Rob", "Bob", "Andrew")[:1] + ("Ann",) + ("Rob", "Bob", "Andrew")[2:]

('Rob', 'Ann', 'Andrew')

## Named Tuples

Same as tuples with an added ability to refer to items in the tuple by name as well as by index position, and this allows us to create aggregates of data items.

In [21]:
import collections
Fruits = collections.namedtuple("Fruits", "name quantity size")
breakfast = []
breakfast.append(Fruits('apple', 2, "larg"))
breakfast.append(Fruits('banana', 1, 'medium'))
breakfast

[Fruits(name='apple', quantity=2, size='larg'),
 Fruits(name='banana', quantity=1, size='medium')]

In [23]:
total = 0
for fruit in breakfast:
    total += fruit.quantity
total

3

## Lists

A list is an ordered sequence of zero or more object references. Unlike strings and tuples, lists are **mutable**, so we can replace and delete any of their items. It is also possible to insert, replace, and delete slices of lists.